/***************/
/*   General   */
/***************/
html {
	height:100%;
}

body {
	height:100%;
	width:100%;
	margin:0;
	font-size:16px;
	font-family:'Ubuntu',Arial;
	background-color: rgba(0,0,150,.02);
}

div {
	box-sizing:border-box;
}

/* CODE FOUND HERE: 
/*	http://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/
/*/

.tooltip {
	display:inline;
	position:relative;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

/*********************/
/*   Navbar/Header   */
/*********************/
nav {
	background-color:#2491FF;
	height:4em;
	box-shadow: 0 0 10px #888;
	border-bottom: 2px solid #248DFF;
	z-index:2;
	position:static;
	box-sizing:border-box;
}

nav h1 {
	float:left;
	font-size:2em;
	margin:.5em auto auto 0.6em;
	color:rgba(255,255,255,0.95);
}

nav ul {
	list-style:none;
	margin:0;
	float:right;
	clear:none;
}

nav li {
	float:left;
	margin:1.6em 1em auto auto;
	margin-bottom: 0;
}

nav a {
	font-size:1.4em;
	padding:12px;
	text-decoration:none;
	color:rgba(60,60,60,0.95);
}

nav a:hover {
	color:rgba(70,70,70,0.7);
}


/********************/
/*   Queue Window   */
/********************/
#queueWindow {
	width:80%;
	height:90%;
	z-index:1;
	float:left;
}

#queueWindow > h1 {
	color: #AAA;
	text-align: center;
}

section.queue:hover {
	transition: background-color 0.4s ease-out;
	background-color: rgba(0,32,255,0.03);
	cursor: pointer;
}

.queue {
	box-sizing:border-box;
	width:25%;
	height:50%;
	padding:0.6em 1%;
	min-width: 180px;
	min-height: 300px;
	float:left;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	border-right: 1px solid rgba(0,0,0,0.15);
}

.queue h1 {
	margin:0;
}

.queue ul {
	margin: 0.5em 0 0 0 ;
	list-style: none;
	padding-left:0;
}


/***************/
/*   Sidebar   */
/***************/
div#sidebar {
	width:20%;
	height:100%;
	position:absolute;
	top:4em;
	right:0;
	min-width:200px;
	min-height:600px;
	background-color: rgba(0,0,150,.02);
	border-left: 1px solid rgba(0,0,0,0.15);

}

div#sidebar div#quantityList{
	margin-left: 5%;
	font-size: 20px;
}

div#sidebar img {
	width: 22%;
	float:left;
}

div#sidebar img[src*='next'] {
	margin-right: 10%;
}

div#sidebar img[src*='prev'] {
	margin-left: 10%;
}

div#sidebar img:hover {
	opacity: .6;
	cursor: pointer;
}

#page_number {
	font-size: 3em;
	width: 36%;
	text-align: center;
	float:left;
}

div.navigation > * {
	display: block;
}

div#sidebarInputContainer {
	position: absolute;
	bottom:16px;
}

/*******************/
/*    LogIn Page   */
/*******************/

/*  About pane   */
div#aboutWrapper {
	width: 40%;
	position: absolute;
	right: 8%;
	left:auto;
	top: 160px;
	color: rgba(0,0,0,0.65);
	font-size: 1.2em;
	line-height: 1.6em;
}

/*  Div box thing  */
div.floatingBox {
	border: 1px solid rgba(0,0,0,0.15);
	background-color: white;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.035);
	color:#555;
}

div.darkFloatingBox h1 {
	margin:0;
	padding:0;
}

div#loginWrapper {
	width:35%;
	margin-left: 8%;
	margin-top: 12px;
}

div#loginWrapper > div {
	margin:20px 0;
}

input[type="text"], input[type="email"], input[type="password"] {
	box-sizing:border-box;
	display:block;
	height:3em;
	width:100%;
	padding:0;
	margin:0;
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	border-collapse: collapse;
	text-indent: 24px;
	font-size: 1.3em;
	font-family: 'Lato';
}

input[type='text']:hover, input[type='email']:hover, input[type='password']:hover {
	transition: border-left-width 0.2s ease;
	border-left: 2px solid rgba(0,0,0,0.3);
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
	transition: border-left-width 0.2s ease, border-bottom-color 2s ease;
	border-left: 5px solid rgba(0,0,0,0.4);
	border-bottom-color: rgba(0,0,0,0.26);
	outline:0;
}

div.floatingBox input[type='button']:active, div.floatingBox input[type='submit']:active {
	background-color: rgba(36,145,255,0.8);
}

input[type='button'], input[type='submit'] {
	background-color: rgba(36,145,255,0.76);
	outline:none;
	border:none;
	height:3em;
	font-family: 'Ubuntu';
	font-size: 1.2em;
	margin:0;
	color:rgba(0,0,0,0.5);
	display: block;
	cursor: pointer;
	margin: 16px auto;
	width: 66%;
}

input[type='button']:hover, input[type='submit']:hover {
	background-color: rgba(36,145,255,0.7);
}


/********************/
/*   Edit Account   */
/********************/

/*   Customers   */
div.accountWrapper {
	width:460px;
	display: block;
	margin: 36px auto auto auto;
}

/*   Admin   */
label {
	font-family:'Lato';
	color:#999;
}

/*************/
/*   Order   */
/*************/
div.order-page {
	/*border: 2px solid rgba(0,0,0,0.15);*/
	width:40%;
	margin:2em auto;
	/*box-sizing:border-box;*/
	background-color: #EBF5FF;
	border-radius: 10px;
}

div.order-page ul{
	margin-left: 5px;
	margin-right
	border: 2px solid rgba(0,0,0,0.15);
	border-radius: 10px;
	list-style-type: none;
}

div.order-page h2{
	padding-left: 10px;
	background-color:#2491FF;
	color: #FFFFFF;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	margin-bottom: 0px;
}

.order-page h1 {
	text-align: center;
}

div.order-page input[type="submit"]{
	margin-right: 20%;
}

.order-wrapper p {
	display:block;
	margin-bottom:0;
	text-align: center;
}


div.order-wrapper {
	width:80%;
	margin:0 10%;
}

.outOfStock{
	color: red;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*Popup Stuff*/
.black_overlay{
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1001;
	opacity:.50;
}

.white_content {
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 16px;
	border: 16px solid #2491FF;
	background-color: white;
	z-index:1002;
	overflow: auto;
}

/********************/
/*   Availability   */
/********************/
.avail div h2{
	margin: 1px; 
	text-align: center;
}

.mainForm > div > div{
	margin: 0 5px;
	text-align: left;
	font-size: 24px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.mainForm > div > div > div{
	float: right;
	-webkit-column-break-inside:avoid;
}


.mainForm > div{
	/*padding: 10px;*/
	margin-top: 10px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	-webkit-column-rule-color:  #ccc;
    -webkit-column-rule-style:  solid;
    -webkit-column-rule-width:  1px;
	display: block;
	float: left;
	/*border-right: 1px solid rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(0,0,0,0.15);
	border-top: 1px solid rgba(0,0,0,0.15);*/
}


/*For Switch Buttons*/

.mainForm > div > label{
	font-size: 16px;
}

.divider {
	height:0px;
	border: 1px solid rgba(0,0,0,0.15);
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-bottom: 5px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "STOCK";
    padding-left: 10px;
    background-color: #2491FF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OUT";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


/**************************/
/*   Administrator Menu   */
/**************************/


div#adminMenuWrapper {
	width:80%;
	margin: 24px auto;
	display: block;
}

div#menuDisplayWrapper img {
	height:22px;
	vertical-align: text-bottom;
	float:right;
	margin-left: 8px;
}

div#menuDisplayWrapper img:hover {
	opacity:0.7;
	cursor:pointer;
}

div#menuDisplayWrapper div {
	float:left;
}

div#menuDisplayTypeView {
	width:75%;
}

div#menuDisplayTypeView li {
	list-style: none;
	margin: 14px;
}

div#menuDisplayTypeView div.floatingBox {
	padding: 10px;
}

div#menuDisplayTypeView input, div#menuDisplayTypeView label {
	float:right;
}

div#menuDisplayTypeSelector {
	width:25%;
	border-right: none;
	padding-top: 12px;
}

div#menuDisplayWrapper {
	width:59.5%;
	float:right;
	display: block;
	margin-right: 0.5%;
}

div#addItemFormWrapper {
	width:40%;
	float:right;
	display: block;
}

div.typeSelect:hover {
	transition: all 0.3s ease-out;
	text-indent: 9px;
	cursor: pointer;
	background: rgba(0,0,0,0.02);
}

div.typeSelect {
	width:100%;
	height:1.8em;
	font-size: 18px;
	text-indent: 8px;
}

div.typeSelect span {
	vertical-align: middle;
	display: inline-block;
	line-height: 1.8em;
}

/*div.box {
	border: 1px solid rgba(0,0,0,0.15);
	box-sizing:border-box;
	float: left;
	padding: 1em;
}

div#menu-categories-pane {
	width:30%;
}

div#menu-categories-edit-pane{
	width:70%;
	float:left;
}

div#menu-categories-edit-pane > div {
	width:100%;
}*/

/*****************/
/*   Data Page   */
/*****************/
div#queryInput {
	float:left;
	width: 35%;
	border-right: 1px solid rgba(0,0,0,0.15);
}

/*div#queryInput input{
	float:left;
}

div#queryInput label {
	float:left;
}*/

div#visuals {
	float:left;
	width: 65%;
	height: 60%;
	box-sizing:border-box;
}

div.boxy {
	padding: 18px;
	height:100%;
}
/*div.data {
	margin: 2.5%;
	margin-top: 36px;
}*/

div.floatingNavigation a {
	padding: 10px;
	margin-right: 4px;
	background-color: #2491FF;
	color:rgba(255,255,255,0.95);
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
}

div.floatingNavigation a:hover {
	background-color: #2491DD;
}

div#advancedQueryContainer {
	display:none;
}









