/***************/
/*   General   */
/***************/
html {
	height:100%;
}

body {
	height:100%;
	width:100%;
	margin:0;
	font-size:16px;
	font-family:'Ubuntu',Arial;
}

/* CODE FOUND HERE: 
/*	http://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/
/*/

.tooltip {
	display:inline;
	position:relative;
}

.tooltip:hover:before{
    border: solid;
    border-color: #333 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.tooltip:hover:after{
    background: #333;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(title);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 220px;
}

/*********************/
/*   Navbar/Header   */
/*********************/
nav {
	background-color:#2491FF;
	height:4em;
	box-shadow: 0 0 10px #888;
	border-bottom: 2px solid #248DFF;
	z-index:2;
	position:static;
	box-sizing:border-box;
}

nav h1 {
	float:left;
	font-size:2em;
	margin:.5em auto auto 0.6em;
	color:rgba(255,255,255,0.95);
}

nav ul {
	list-style:none;
	margin:0;
	float:right;
	clear:none;
}

nav li {
	float:left;
	margin:1.6em 1em auto auto;
	margin-bottom: 0;
}

nav a {
	font-size:1.4em;
	padding:12px;
	text-decoration:none;
	color:rgba(60,60,60,0.95);
}

nav a:hover {
	color:rgba(70,70,70,0.7);
}


/********************/
/*   Queue Window   */
/********************/
.window {
	width:80%;
	height:100%;
	z-index:1;
}

.window > h1 {
	color: #AAA;
	text-align: center;
}

.queue {
	box-sizing:border-box;
	width:25%;
	height:50%;
	padding:0.6em 1%;
	min-width: 180px;
	min-height: 300px;
	float:left;
	border-bottom: 1px solid rgba(0,0,0,0.15);
	border-right: 1px solid rgba(0,0,0,0.15);
}

.queue h1 {
	margin:0;
}

.queue ul {
	margin: 0.5em 0 0 0 ;
	list-style: none;
	padding-left:0;
}


/***************/
/*   Sidebar   */
/***************/
.sidebar {
	width:20%;
	height:100%;
	position:absolute;
	top:4em;
	right:0;
	min-width:200px;
	min-height:600px;
	background-color: rgba(36,145,255,0.3);
	background-color: rgba(0,0,0,0.3);
}

.sidebar #quantityList{
	margin-left: 5%;
	font-size: 20px;
}

.sidebar img {
	height: 3.5em;
	width:auto;
	float: left;
}

.sidebar img:hover {
	opacity: .6;
}

#page_number {
	font-size: 3em;
}

.navigation div {
	float: left;
}

.navigation {
	position: absolute;
	bottom:0;
	margin: 0.5em 0;
}

.sidebar button {
	width: 80%;
	margin: 0 10%;
}

/*******************/
/*    LogIn Page   */
/*******************/

.content {
	display: block:;
	width:50%;
	min-height: wrap;
	margin: 0 auto;
	height: 90%;
	border-right: 1px solid rgba(0,0,0,0.15);
	border-left: 1px solid rgba(0,0,0,0.15);
}

.content > div {
	border-bottom: 1px solid rgba(0,0,0,0.15);
}

.content >div:last-child {
	border-bottom: none;
}

.accountForm {
	display:block;
	text-align: center;
	padding:1em;
	width:100;
}

.accountForm input[type="submit"] {
	clear:left;
	display:block;
	margin-left:auto;
	margin-right:auto;
}

.login h1 {
	margin:0.4em;
	padding:0;
}

.textForm{
	margin-bottom: 10px;
}

/*************/
/*   Order   */
/*************/
div.order-page {
	/*border: 2px solid rgba(0,0,0,0.15);*/
	width:40%;
	margin:2em auto;
	/*box-sizing:border-box;*/
	background-color: #EBF5FF;
	border-radius: 10px;
}

div.order-page ul{
	margin-left: 5px;
	margin-right
	border: 2px solid rgba(0,0,0,0.15);
	border-radius: 10px;
	list-style-type: none;
}

div.order-page h2{
	padding-left: 10px;
	background-color:#2491FF;
	color: #FFFFFF;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	margin-bottom: 0px;
}

.order-page h1 {
	text-align: center;
}

div.order-page input[type="submit"]{
	margin-right: 20%;
}

.order-wrapper p {
	display:block;
	margin-bottom:0;
	text-align: center;
}


div.order-wrapper {
	width:80%;
	margin:0 10%;
}

/********************/
/*   Availability   */
/********************/
.avail div h2{
	margin: 1px; 
	text-align: center;
}

.mainForm > div > div{
	display:block;
	float:left;
	margin: 0 5px;
}

.mainForm > div{
	display: block;
	float: left;
	border-right: 1px solid rgba(0,0,0,0.15);
	border-bottom: 1px solid rgba(0,0,0,0.15);
	border-top: 1px solid rgba(0,0,0,0.15);

}

/*For Switch Buttons*/

.mainForm > div > label{
	font-size: 16px;
}

.onoffswitch {
    position: relative; width: 90px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    margin-bottom: 5px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "STOCK";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "OUT";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    width: 18px; margin: 6px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 20px;
    position: absolute; top: 0; bottom: 0; right: 56px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}


/**************************/
/*		  Account         */
/**************************/
#editAccountForm{
	margin: 0 auto;
	padding-bottom: 1px;
	width: 25%;
	text-align: center;
	background-color: #EBF5FF;
	border-radius: 10px; 
}

#editAccountForm input{
	display:block;
	margin: 10px auto;

}

#editAccountForm h2{
	background-color:#2491FF;
	color: #FFFFFF;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
}




/**************************/
/*   Administrator Menu   */
/**************************/


div.wrapper {
	width:80%;
	margin:25px auto;
}

div.box {
	border: 1px solid rgba(0,0,0,0.15);
	box-sizing:border-box;
	float: left;
	padding: 1em;
}

div#menu-categories-pane {
	width:30%;
}

div#menu-categories-edit-pane{
	width:70%;
	float:left;
}

div#menu-categories-edit-pane > div {
	width:100%;
}

/*****************/
/*   Data Page   */
/*****************/
div#queryInput {
	float:left;
	width: 34%;
}

/*div#queryInput input{
	float:left;
}

div#queryInput label {
	float:left;
}*/

div#visuals {
	float:left;
	width: 56%;
	box-sizing:border-box;
	margin-top: 36px; 
}

div.data {
	margin: 2.5%;
	margin-top: 36px;
}

div#chartPicker a {
	padding: 10px;
	margin-right: 4px;
	background-color: #2491FF;
	color:rgba(255,255,255,0.95);
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
}

div#chartPicker a:hover {
	background-color: #2491DD;
}









